<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
    <title>home page</title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <%= user %>
  <%- include('./partials/script.ejs') %>
</body>
</html>